/* @media all and (min-width: 500px) { */
/*   .columns { */
/*     display: flex; */
/*     flex-direction: column; */
/*   } */
/* } */

body {
  font-size: xx-large;
}

pre {
  display: block;
  font-size: xx-large;
  resize: none;
  width: 90%;
  height: 50vh;
  border: solid;
}

.graph {
  width: 90%;
  height: 50vh;
}

.columns {
  display: block flex;
  flex-direction: row;
  width: 100%;
}

.column {
  width: 100%;
  display: block flex;
  flex-direction: column;
}
